<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <style>
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .wrapper {
          text-align: center;
          top: 50%;
      }
      .wrapper input {
          position: absolute;
      }
      </style>
  </head>
  <body>
    <div class="container ">
      <div class="wrapper"></div>

            <p id="is_open"><%= is_open %></p>
            <p>Current temperature is : <span id="temperature"></span> <span> C</span></p>
            <p>Current humidity is :<span id="humidity"></span> <span> %</span></p>

      </div>
    </div>
  </body>

  <script>
  const firebaseConfig = {
    apiKey: "AIzaSyAPoSYgDMbvrLfilUgCMA_S9ZDj3ncYJ44",
    authDomain: "do-an-2811d.firebaseapp.com",
    databaseURL: "https://do-an-2811d.firebaseio.com",
    projectId: "do-an-2811d",
    storageBucket: "do-an-2811d.appspot.com",
    messagingSenderId: "280062861198",
    appId: "1:280062861198:web:e461b67491e2e604"
  };

  firebase.initializeApp(firebaseConfig);

  var referencePath = '/is_open';
  var userReference = firebase.database().ref(referencePath);
  userReference.on("value", function(snapshot){
    $('#is_open').text(snapshot.val().is_open)
  });

  var referencePath = '/temperature';
  var userReference = firebase.database().ref(referencePath);
  userReference.on("value", function(snapshot){
    $('#temperature').text(snapshot.val().temperature)
  });

  var referencePath = '/humidity';
  var userReference = firebase.database().ref(referencePath);
  userReference.on("value", function(snapshot){
    $('#humidity').text(snapshot.val().humidity)
  });
  </script>
</html>
